<h1>Weather Forecast for </h1>

<div *ngFor="let f of appForecast?.properties?.periods; let i = index">
  <div *ngIf="currentTimeOfDay === f.isDaytime">
    <ul>
      <li>
        <div >
          <div>
           <span style="font-weight: bold;"> {{f.name}} </span>

          </div>
          <div>
            Tempreature: {{ f.temperature}}

          </div>
          <div>
            <img src="{{f.icon}}" alt="Girl in a jacket" width="100" height="100">
          </div>
           <div>
            {{f.detailedForecast}}
          </div>
         
            
           
        </div>
        

      </li>
    </ul>
   

  </div>
</div>
<h2></h2>
 